@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .havana-font {
    font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  }
  .tinos-regular {
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
  }
  body {
    @apply bg-primary;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @apply min-h-screen;
    
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc8c8;
  border-radius: 5px;
}
